@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f8f8fa;
}

.bg-c-green {
  background: linear-gradient(104.84deg, #024c43 6.08%, #009e8b 111.95%, #019281 0), #fff;
}

.custom-height {
  height: 633.875px;
}

@media screen and (min-width: 412px) {
  .custom-height {
    height: 606.25px;
  }
}

@media screen and (min-width: 770px) {
  .custom-height {
    height: 583px;
  }
}